In [21]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('examples/ex1.csv')

print(df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
df1 = pd.read_table('examples/ex1.csv', sep = ',')

print(df1)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
df = pd.read_csv('examples/ex2.csv', header = None)

print(df)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
df1 = pd.read_csv('examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

print(df1)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [24]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col = ['key1',
                                                            'key2'])

print(parsed)

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [1]:
!type examples\ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [2]:
!type examples\ex3.csv

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [3]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [6]:
import pandas as pd
import numpy as np

result = pd.read_table('examples/ex3.txt', sep = '\s+', 
                       names = ['a', 'b', 'c', 'd'])

print(result)

     a          b          c         d
0    A          B          C       NaN
1  aaa  -0.264438  -1.026059 -0.619500
2  bbb   0.927272   0.302904 -0.032399
3  ccc  -0.264273  -0.386314 -0.217601
4  ddd  -0.871858  -0.348382  1.100491

In [7]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
print(pd.read_csv('examples/ex4.csv', skiprows = [0, 2, 3]))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
print(pd.read_table('examples/ex4.csv', skiprows = [0, 2, 3]))

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [13]:
print(pd.read_csv('examples/ex4.csv', skiprows = [0, 2, 3], 
                 names = list('abcde')))

   a   b   c   d        e
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [14]:
print(pd.read_csv('examples/ex4.csv', skipcolumns = [4]))

TypeError: parser_f() got an unexpected keyword argument 'skipcolumns'

In [15]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
result = pd.read_csv('examples/ex5.csv')

print(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
print(result.fillna(0))

  something  a   b     c   d message
0       one  1   2   3.0   4       0
1       two  5   6   0.0   8   world
2     three  9  10  11.0  12     foo

In [21]:
print(pd.isnull(result))

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [22]:
result = pd.read_csv('examples/ex5.csv', na_values = ['NULL'])

print(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two'], 'c': [11]}

print(pd.read_csv('examples/ex5.csv', na_values = sentinels))

  something  a   b    c   d message
0       one  1   2  3.0   4     NaN
1       NaN  5   6  NaN   8   world
2     three  9  10  NaN  12     NaN

In [28]:
pd.options.display.max_rows = 10

result = pd.read_csv('examples/ex6.csv')

print(result)

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [29]:
print(pd.read_csv('examples/ex6.csv', nrows = 5))

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [48]:
chunker = pd.read_csv('examples/ex6.csv', chunksize = 5000)

print(chunker, type(chunker))

print(chunker.get_chunk, type(chunker.get_chunk))

<pandas.io.parsers.TextFileReader object at 0x000002D0FB09FD68> <class 'pandas.io.parsers.TextFileReader'>
<bound method TextFileReader.get_chunk of <pandas.io.parsers.TextFileReader object at 0x000002D0FB09FD68>> <class 'method'>

In [49]:
tot = pd.Series([])

for piece in chunker:

    tot = tot.add(piece['key'].value_counts(), fill_value = 0)
    
tot = tot.sort_values(ascending = False)

print(tot[:10])

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [51]:
data = pd.read_csv('examples/ex5.csv')

print(data)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [57]:
data.to_csv('examples/out.csv')

In [58]:
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [60]:
import sys

data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [61]:
data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [62]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [63]:
data.to_csv(sys.stdout, index = False, columns = ['a', 'b'])

a,b
1,2
5,6
9,10

In [69]:
dates = pd.date_range('1/1/2000', '1/8/2000')

ts = pd.Series(np.arange(8), index = dates)

ts.to_csv('examples/tseries.csv')

In [70]:
!type examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6
2000-01-08,7

In [71]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [74]:
import csv

f = open('examples/ex7.csv')

print(f)

reader = csv.reader(f)

for line in reader:
    print(line)

<_io.TextIOWrapper name='examples/ex7.csv' mode='r' encoding='cp1252'>
['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [79]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    header, values = lines[0], lines[1:]
    print(header)

data_dict = {h: v for h, v in zip(header, zip(*values))}

print(data_dict)

['a', 'b', 'c']
{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [84]:
f = open('examples/ex7.csv')

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f,dialect = my_dialect)

print(reader)

<_csv.reader object at 0x000002D0FB88AA08>

In [85]:
reader = csv.reader(f, delimiter = '|')

print(reader)

<_csv.reader object at 0x000002D0FB88A798>

In [87]:
import json

obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

result = json.loads(obj)

print(result)

asjson = json.dumps(result)

print(asjson)

{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}
{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}

In [88]:
siblings = pd.DataFrame(result['siblings'], columns = ['name', 
                                                       'age', 'pets'])

print(siblings)

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [89]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [91]:
data = pd.read_json('examples/example.json')

print(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [93]:
print(data.to_json())

print(data.to_json(orient = 'records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [94]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

len(tables)

failures = tables[0]

failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [97]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [100]:
from lxml import objectify

path = 'examples/mta_perf/Performance_MNR.xml'

parsed = objectify.parse(open(path))

root = parsed.getroot()

data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE',
              'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
    
perf = pd.DataFrame(data)

perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [104]:
from io import StringIO

tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()

root

root.get('href')

root.text

'Google'

In [105]:
frame = pd.read_csv('examples/ex1.csv')

frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [106]:
frame.to_pickle('examples/frame_pickle')

In [107]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [110]:
frame = pd.DataFrame({'a': np.random.randn(100)})

store = pd.HDFStore('mydata.h5')

store['obj1'] = frame

store['obj1_col'] = frame['a']

print(store)

store['obj1']

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

           a
0   0.868857
1   1.370387
2  -1.489589
3  -0.863126
4   1.120350
..       ...
95 -0.424598
96  1.928301
97  0.496663
98  1.433359
99  0.142387

[100 rows x 1 columns]

In [114]:
store.put('obj2', frame, format = 'table')

store.select('obj2', where = ['index >= 10 and index <= 15'])

           a
10 -2.603461
11  0.066587
12 -0.456325
13 -0.821136
14  0.136214
15  0.303627

In [117]:
frame.to_hdf('my_data.h5', 'obj3', format = 'table')

pd.read_hdf('my_data.h5', 'obj3', where = ['index <= 10'])

           a
0   0.868857
1   1.370387
2  -1.489589
3  -0.863126
4   1.120350
..       ...
6   0.896967
7  -0.076301
8  -0.302874
9  -0.301760
10 -2.603461

[11 rows x 1 columns]

In [118]:
pd.read_excel('examples/ex1.xlsx', 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [119]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [120]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

frame.to_excel(writer, 'Sheet1')

writer.save()

In [126]:
import requests

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

resp = requests.get(url)

print(resp)

data = resp.json()

data[0]['title']

issues = pd.DataFrame(data, columns = ['number', 'title', 'labels',
                                      'state'])

issues

<Response [200]>

,number,title,labels,state
0,25643,TST: xref #25630,"[{'id': 49747336, 'node_id': 'MDU6TGFiZWw0OTc0...",open
1,25642,Fixturize tests/frame/test_mutate_columns.py,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
2,25641,Fixturize tests/frame/test_operators.py,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
3,25640,TST: Fixturize tests/frame/test_missing.py,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
4,25639,Fixturize tests/frame/test_join.py,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
...,...,...,...,...
25,25607,Allows loc to create multiple new index,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
26,25606,Scatter plot incorrect when 2 columns have the...,[],open
27,25605,CI: Use the latest pep8speaks and remove custo...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
28,25602,BUG: Fix to_string output when using header ke...,"[{'id': 251382258, 'node_id': 'MDU6TGFiZWwyNTE...",open
29,25601,Typing Master Tracker,"[{'id': 183784729, 'node_id': 'MDU6TGFiZWwxODM...",open

In [ ]:
import sqlite3

query = ''''''